@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.notes-header {
	font-family: 'Epilogue';
}

textarea {
	background: rgba( 255, 255, 255, 0.005 );
}

/* slider */
.toggle-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
	margin: 10px;
}

.toggle-switch .toggle-input {
	display: none;
}

.toggle-switch .toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 24px;
	background-color: #fff;
	border-radius: 34px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.toggle-switch .toggle-label::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	top: 2px;
	left: 2px;
	background-color: #494949;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s;
}

.toggle-switch .toggle-input:checked+.toggle-label {
	background-color: #494949;
}

.toggle-switch .toggle-input:checked+.toggle-label::before {
	transform: translateX(16px);
}

.toggle-switch input:checked + .toggle-label::before {
	background-color: #FFFFFF;
}


/* end slider */
.note-new {
	background: rgba( 255, 255, 255, 0.25 );
}

.note {
	background: rgba( 255, 255, 255, 0.7 );
}